html {
    background-color: black;
}

.list {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: black;
    text-align: center;
    font-size: 14px;
}

a {
    color: green;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

a:hover {
    color: rgba(0, 128, 0, 0.623); /* При наведении */
    text-decoration: underline; /* Подчеркивание при наведении */
}

a:active {
    color: #00FF00; /* При нажатии */
}

.head, .main{
    color: white;
    text-align: center;
}

footer {
    text-align: center;
}

