<html>
    <head>
        <link href="Frilm.github.io\stylesheets" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Contact</h1>
        <h2>Frilm</h2>
        <p>My Telegram Channel:https://t.me/FrilmObama</p>
        <p>My Discord:FRILM#7131</p>
        <p>My tumblr:https://www.tumblr.com/bogdanfrilm</p>
        <h3>Danilka</h3>
        <p>His Discord:Daniel_brainz#1695</p>
        <p>His vk:https://vk.com/id602592258</p>
        <header align="center">
            <ul>
                <li><a href="index.html">Main</a></li>
                <li><a href="info.html">Info</a></li>
            </ul>
        </header>
        <a href="https://www.tumblr.com/bogdanfrilm">Made Frilm</a>
    </body>
</html>