<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Frilm</title>
        <meta charset="utf-8">
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="Styles/Image/jojo.ico" type="image/x-icon">
        <script src="js/app.js"></script>
    </head>
    <body>
        <header>
            <div class="list">
                    <span class="dota2">
                        [
                        <a href="index.html">home</a>
                        /
                        <a href="info.html">about me</a>
                        /
                        <a href="link.html">link</a>
                        /
                        <a href="projects.html">projects</a>
                        ]
                    </span>
            </div>
            <div class="head">
                <h1>About me</h1>
            </div>
        </header>
        <article>
            <div class="main">
                <h1>Coming soon</h1>
                >
            </div>
        </article>
        <footer>
          <a href="frilmbusiness@outlook.com">Made Frilm</a>
        </footer>
    </body>
    <head>
        <link href="Styles/style.css" rel="stylesheet" type="text/css">
    </head>
</html>