<html lang="ru">
    <head>
        <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
        <title>Frilm</title>
        <meta charset="utf-8">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="Styles/Image/jojo.ico" type="image/x-icon">
        <script src="js/app.js"></script>
    </head>
    <body>
        <header align="center">
            <div class="list">
                    <span class="dota2">
                        [
                        <a href="index.html">home</a>
                        /
                        <a href="info.html">about me</a>
                        /
                        <a href="link.html">link</a>
                        /
                        <a href="projects.html">projects</a>
                        ]
                    </span>
            </div>
            <div class="head">
                <h1>Contact</h1>
            </div>
        </header>
        <div class="main">
            <article>
                <h2>link</h2>
                <p>My Telegram Channel - https://t.me/frilmboy</p>
                <p>My Discord - frilmboy</p>
                <p>My email - frilmbusiness@outlook.com</p>
                >
            </article>
        </div>
        <footer>
            <a href="frilmbusiness@outlook.com">Made Frilm</a>
        </footer>
    </body>
</html>